@using ASP.Server.Controllers
@model CreateBookModel
@{
    ViewData["Title"] = "Add a book";
}
<style>
.input-group {
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
input, textarea, select {
    flex-basis:85%;
}
label {
    flex-basis:10%;
}
</style>

<!-- Voici une facon de faire, mais ce n'est pas la seul, a vous de jouer ! -->
<form asp-controller="Book" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter name" />
    </div>
    <div class="form-group">
        <label asp-for="Auteur"></label>
        <input asp-for="Auteur" class="form-control" placeholder="Auteur"/>
    </div>
    <div class="form-group">
        <label asp-for="Prix"></label>
        <input asp-for="Prix" class="form-control" placeholder="Prix" />
    </div>
    <div class="form-group">
        <label asp-for="Contenu"></label>
        <input asp-for="Contenu" class="form-control" placeholder="Contenu" />
    </div>
    <div class="input-group">
        <label asp-for="GenresSelectionne"></label>
        <!--Si la page rend une erreur a cette ligne, c'est que vous n'avez pas envoyé la liste des genres dans le Controller !!! ! -->
        <select asp-for="GenresSelectionne" asp-items="@(new SelectList(Model.AllGenres,"Id","Nom"))">
        </select>
    </div>
        <input type="submit" value="Add" class="btn btn-primary" style="width: 100%; margin-top: 50px;justify-content:center" />
</form>

