@using ASP.Server.ViewModels
@model CreateBookViewModel

@{
    ViewData["Title"] = "Ajouter un livre";
}

<style>
    .input-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    input, textarea, select {
        flex-basis: 85%;
    }

    label {
        flex-basis: 10%;
    }
</style>

<h2>@ViewData["Title"]</h2>

<form asp-controller="Book" asp-action="Create" method="post">
    <div class="input-group">
        <label asp-for="Nom">Nom du livre</label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Auteur">Auteur</label>
        <input asp-for="Auteur" class="form-control" />
        <span asp-validation-for="Auteur" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Prix">Prix</label>
        <input asp-for="Prix" class="form-control" />
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Contenu">Contenu</label>
        <textarea asp-for="Contenu" class="form-control"></textarea>
        <span asp-validation-for="Contenu" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Genres">Genres</label>
       <select asp-for="Genres" asp-items="@(new SelectList(Model.AllGenres,"Id","Name"))" class="form-control" multiple="multiple"></select>
        <span asp-validation-for="Genres" class="text-danger"></span>
    </div>

    <input type="submit" value="Ajouter" class="btn btn-primary" style="margin-top: 20px;" />
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
