@using ASP.Server.Controllers
@model CreateGenreModel
@{
    ViewData["Title"] = "Add a genre";
}
<style>
.input-group {
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
input, textarea, select {
    flex-basis:85%;
}
label {
    flex-basis:10%;
}
</style>

<!-- Voici une facon de faire, mais ce n'est pas la seul, a vous de jouer ! -->
<form asp-controller="Genre" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter name" />
    </div>
    <input type="submit" value="Add" class="btn btn-primary"  style="width: 100%; margin-top: 20px" />
</form>