@using ASP.Server.Models
@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste Genre";
}

<div class="listeGenres">
    <h1>Liste des Genres:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du Genre</th>
                <th>Titre des Livres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Id</td>
                    <td>@genre.Name</td>
                    <td>
                        @foreach (var book in genre.Books)
                        {
                            <span>@book.Title</span>
                            <text> </text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



