@using ASP.Server.Models

@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste des Genres";
}

<div class="listeGenres">
    <h1>@ViewData["Title"]</h1>
    <ul>
        @foreach (var genre in Model)
        {
            <li>
                <strong>Nom:</strong> @genre.Nom
            </li>
        }
    </ul>
</div>
